<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"></h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="">
                <th>
                  
                </th>
                <th>
                  
                </th>
                <th>
                  
                </th>
                <th class="text-right">
                  
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td>
                    
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h4 class="card-title"> </h4>
          <p class="card-category"> </p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="">
                <th>
                  
                </th>
                <th>
                  
                </th>
                <th>
                  
                </th>
                <th class="text-right">
                  
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Regular Table with Colors</h4>
        </div>
        <div class="card-body table-full-width table-hover">
          <div class="table-responsive">
            <table class="table">
              <thead class="">
                <th>
                  
                </th>
                <th>
                  
                </th>
                <th>
                  
                </th>
                <th class="text-right">
                  
                </th>
              </thead>
              <tbody>
                <tr class="table-success">
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr class="">
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr class="table-info">
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr class="">
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr class="table-danger">
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr class="">
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr class="table-warning">
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
