<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Entrar</h4>
        </div>
        <div class="card-body ">
          <form method="#" action="#">
            <label>E-mail</label>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Entrar com seu e-mail">
            </div>
            <label>Senha</label>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Senha">
            </div>
            <div class="form-check mt-3">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value=""> 
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer ">
          <button type="submit" class="btn btn-info btn-round">Entrar</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Inscreva-se</h4>
        </div>
        <div class="card-body ">
          <form class="form-horizontal">
            <div class="row">
              <label class="col-md-3 col-form-label">Nome</label>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nome">
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">E-mail</label>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="E-mail">
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Senha</label>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Senha">
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3"></label>
              <div class="col-md-9">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    <span class="form-check-sign"></span>
                    
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer ">
          <div class="row">
            <label class="col-md-3"></label>
            <div class="col-md-9">
              <button type="submit" class="btn btn-info btn-round">Entrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title"></h4>
        </div>
        <div class="card-body ">
          <form method="get" action="/" class="form-horizontal">
            <div class="row">
              <label class="col-sm-2 col-form-label"></label>
              <div class="col-sm-10">
                <div class="form-group">
                  <input type="text" class="form-control">
                  <span class="form-text"></span>
                </div>
              </div>
            </div>
            
            
            
            <div class="row">
              <label class="col-sm-2 col-form-label"></label>
              <div class="col-sm-10">
                <div class="form-group">
                  <p class="form-control-static">
                </div>
              </div>
            </div>
            <div class="row">
              
              
            </div>
            <div class="row">
              
              <div class="col-sm-10">
                <div class="form-check form-check-inline">
                  
                </div>
                
                
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      
      </div>
    </div>
  </div>

