<div class="main-content">
  
  <div class="row">
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Entrar</h4>
        </div>
        <div class="card-body ">
          <form method="#" action="#">
            <label>E-mail</label>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Entrar com seu e-mail">
            </div>
            <label>Senha</label>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Senha">
            </div>
            <div class="form-check mt-3">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value=""> 
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
          </form>
        </div><div></div>
        <div class="card-footer ">
          <button type="submit" class="btn btn-info btn-round">Entrar</button>
        </div>
      </div>
    </div><div></div>
    
    
    
    </div><div></div>
  </div>

