<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Simple Table</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th class="text-center">
                  #
                </th>
                <th>
                  
                </th>
                <th>
                  
                </th>
                <th class="text-center">
                  
                </th>
                <th class="text-right">
                  
                </th>
                <th class="text-right">
                  
                </th>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">
                    1
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-center">
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                  <td class="text-right">
                    <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm ">
                      <i class="fa fa-user"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm ">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm ">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-center">
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                  <td class="text-right">
                    <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm ">
                      <i class="fa fa-user"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm ">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm ">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-center">
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                  <td class="text-right">
                    <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm ">
                      <i class="fa fa-user"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm ">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm ">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-center">
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                  <td class="text-right">
                    <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm   btn-neutral  ">
                      <i class="fa fa-user"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm   btn-neutral  ">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm   btn-neutral  ">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    5
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-center">
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                  <td class="text-right">
                    <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm   btn-neutral  ">
                      <i class="fa fa-user"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm   btn-neutral  ">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm   btn-neutral  ">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    6
                  </td>
                  <td>
                    
                  </td>
                  <td>
                   
                  </td>
                  <td class="text-center">
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                  <td class="text-right">
                    <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm   btn-neutral  ">
                      <i class="fa fa-user"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm   btn-neutral  ">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm   btn-neutral  ">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Striped Table with Checkboxes</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="text-primary">
                <th class="text-center">
                  #
                </th>
                <th class="text-center">
                </th>
                <th>
                  Product Name
                </th>
                <th>
                  Type
                </th>
                <th class="text-center">
                  Qty
                </th>
                <th class="text-right">
                  Price
                </th>
                <th class="text-right">
                  Amount
                </th>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">
                    1
                  </td>
                  <td class="text-center">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-center">
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    
                  </td>
                  <td class="text-center">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox">
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-center">
                   
                  </td>
                  <td class="text-right">
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    
                  </td>
                  <td class="text-center">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-center">
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    
                  </td>
                  <td class="text-center">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox">
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-center">
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    
                  </td>
                  <td class="text-center">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td class="text-center">
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                  <td class="text-right">
                    
                  </td>
                </tr>
                <tr>
                  <td colspan="5"></td>
                  <td class="td-total"></td>
                  <td class="td-price"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-shopping">
              <thead class="">
                <tr>
                  <th class="text-center"></th>
                  <th>
                    
                  </th>
                  <th></th>
                  <th></th>
                  <th class="text-right">
                    
                  </th>
                  <th class="text-right">
                  
                  </th>
                  <th class="text-right">
                    
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  
                  <td class="td-name">
                    <a href="#notebook"></a>
                    <br>
                    <small>.</small>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  
                  <td class="td-number">
                    1
                    <div class="btn-group btn-group-sm">
                      <button class="btn btn-outline-default btn-round"> <i class="nc-icon nc-simple-delete"></i> </button>
                      <button class="btn btn-outline-default btn-round"> <i class="nc-icon nc-simple-add"></i> </button>
                    </div>
                  </td>
                  <td class="td-number">
                    <small>€</small>
                  </td>
                  <td class="td-actions">
                    <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-neutral" data-original-title="Remove item">
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="img-container">
                      <img src="./assets/img/stylus.jpg" alt="...">
                    </div>
                  </td>
                  <td class="td-name">
                    <a href="#pen"></a>
                    <br>
                    <small></small>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td class="td-number">
                    <small>€</small>
                  </td>
                  <td class="td-number">
                    
                    <div class="btn-group btn-group-sm">
                      <button class="btn btn-outline-default btn-round"> <i class="nc-icon nc-simple-delete"></i> </button>
                      <button class="btn btn-outline-default btn-round"> <i class="nc-icon nc-simple-add"></i> </button>
                    </div>
                  </td>
                  <td class="td-number">
                    <small></small>
                  </td>
                  <td class="td-actions">
                    <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-neutral" data-original-title="Remove item">
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="img-container">
                      <img src="./assets/img/evernote.png" alt="...">
                    </div>
                  </td>
                  <td class="td-name">
                    <a href="#agenda"></a>
                    <br>
                    <small></small>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td class="td-number">
                    <small></small>
                  </td>
                  <td class="td-number">
                    1
                    <div class="btn-group btn-group-sm">
                      <button class="btn btn-outline-default btn-round"> <i class="nc-icon nc-simple-delete"></i> </button>
                      <button class="btn btn-outline-default btn-round"> <i class="nc-icon nc-simple-add"></i> </button>
                    </div>
                  </td>
                  <td class="td-number">
                    <small></small>
                  </td>
                  <td class="td-actions">
                    <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-neutral" data-original-title="Remove item">
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                  </td>
                  <td class="td-total">
                    
                  </td>
                  
                  <td colspan="3" class="text-right">
                    <button type="button" rel="tooltip" class="btn btn-outline-default btn-round " data-original-title="" title="">
                      
                      <i class="nc-icon nc-minimal-right"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
